/*************************************************/
/*                   GLOBAL                      */
/*************************************************/

body {
  padding-top: 60px;
}

.lengow-green {
  color: green;
}

.lengow-red {
  color: red;
}
