/*************************************************/
/*                      BOXES                    */
/*************************************************/

.lgw-box {
  background: white;
  display: block;
  border-radius: 3px;
  padding: 45px 60px 45px;
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, .05);
  margin-bottom: 30px;
  position: relative;
  top: 0;
}

.lgw-box-link .lgw-box {
  top: 0;
  color: #555;
  height: 350px;
  text-decoration: none;
  transition: top 100ms ease,
  box-shadow 100ms ease;
}

a.lgw-box-link:hover {
  text-decoration: none;
}

.lgw-box-link:hover .lgw-box {
  top: -6px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .05);
}

.img-circle {
  border-radius: 50%;
}

.lgw-container .grey-frame {
  background: #f7f7f7;
  padding: 30px;
  border: 1px solid #d7d7d7;
  border-radius: 3px;
  margin-bottom: 15px;
}

.lgw-container .blue-frame {
  border-radius: 3px;
  margin-bottom: 15px;
  padding: 30px;
  background: #cdf1ff;
  border: 1px solid #00aeef;
  color: #2e6592;
}

.lgw-container .grey-frame input[type="text"] {
  background: white;
}

/*************************************************/
/*                    BUTTONS                    */
/*************************************************/

.lgw-container .lgw-btn,
.lgw-btn-order {
  border-radius: 3px;
  padding: 10px 20px;
  margin: 15px 0;
  color: white;
  text-decoration: none !important;
  background: #00aeef;
  position: relative;
  transition: all 100ms ease;
  border: 0;
  display: inline-block;
  cursor: pointer;
  outline: none !important;
  white-space: nowrap;
}

.lgw-container .lgw-btn:hover,
.lgw-container .lgw-btn:active,
.lgw-btn-order:hover,
.lgw-btn-order:active {
  background: #019ce2;
  color: white;
}

.lgw-btn-order {
  margin: 0;
}

/* WHITE */

.lgw-btn-white a, .custom-grid-action a {
  background-color: #fff;
  border: 1px solid #d7d7d7;
  color: #555;
  font-weight: bold;
}

.lgw-btn-white a:hover, .custom-grid-action a:hover
.lgw-btn-white a:focus, .custom-grid-action a:focus {
  background-color: #f7f7f7;
  color: #00aeef;
}

/* GREEN */

.lgw-container .lgw-btn-green {
  background-color: #7ac279;
}

.lgw-container .lgw-btn-green:hover,
.lgw-container .lgw-btn-green:focus {
  background-color: #66b165;
}

.lgw-container .lengow_toolbar .lgw-btn {
  margin-right: 15px;
}

/* DISABLED */

.lgw-container .lgw-btn-disabled {
  background: #c0c0c0;
  top: 0;
  color: #828282;
  pointer-events: none;
}

.lgw-container .btn-link {
  border: 0;
  padding: 8px 20px;
  margin: 15px 0;
  font-size: 15px;
  background: transparent;
  outline: none;
  cursor: pointer;
}

.lgw-container .btn-link.mod-inline {
  padding: 0;
  margin: 0 0 0 5px;
  text-decoration: underline;
}

.lgw-container .btn-link.mod-blue {
  color: #00aeef;
  text-decoration: none;
}

.lgw-container .btn-link:hover {
  text-decoration: underline;
  color: #00aeef;
}

/* BTN PROGRESSION */

.lgw-container .lgw-btn-progression {
  height: 36px;
  overflow: hidden;
  padding: 0;
}

.lgw-container .lgw-btn-progression .btn-inner {
  position: relative;
  top: 0;
  left: 0;
}

.lgw-container .lgw-btn-progression .btn-step {
  height: 36px;
  line-height: 36px;
  padding: 0 15px;
}

.lgw-container .lgw-btn-progression.loading {
  pointer-events: none;
  padding-right: 30px;
  background: #c0c0c0;
  color: #828282;
}

.lgw-container .lgw-btn-progression.loading .btn-inner {
  top: -36px;
}

.lgw-container .lgw-btn-progression.loading::after {
  content: '';
  position: absolute;
  height: 24px;
  width: 24px;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 10px;
  opacity: .66;
  background: #ebebeb;
  border-radius: 50%;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.lgw-container .lgw-btn-progression.loading::before {
  content: '';
  position: absolute;
  height: 24px;
  width: 24px;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 10px;
  opacity: .66;
  background: #ebebeb;
  border-radius: 50%;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.lgw-container .lgw-btn-progression.success,
.lgw-container .lgw-btn-progression.error{
  pointer-events: none;
}

.lgw-container .lgw-btn-progression.success{
  background-color: #7ac279;
}

.lgw-container .lgw-btn-progression.success .btn-inner,
.lgw-container .lgw-btn-progression.error .btn-inner{
  top: -72px;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
}

/*************************************************/
/*                    LABELS                     */
/*************************************************/

.lgw-label {
  font-size: 11px;
  background: #ebebeb;
  color: #828282;
  height: 18px;
  line-height: 18px;
  padding: 0 10px;
  border-radius: 12px;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
}

.lgw-label.red,
.lgw-label-refunded {
  color: white;
  background: #e55a4d;
}

.lgw-label-canceled {
  background: transparent;
  border: 1px solid #e6594d;
  color: #e6594d;
  line-height: 18px;
}

.lgw-label.orange {
  color: white;
  background: #fbb829;
}

.lgw-label.green,
.lgw-label-shipped,
.lgw-label-closed {
  color: white;
  background: #7bc27a;
}

.lgw-label.blue,
.lgw-label-accepted,
.lgw-label-waiting_shipment {
  color: white;
  background: #00b0f0;
}

.lgw-label.grey {
  border: 1px solid #7ac279;
  color: #7ac279;
  background: transparent;
  line-height: 21px;
}

.lgw-label.blue-light {
  background: #d6f4ff;
  color: #00b0f0;
}

.lgw-label.orange-light {
  background: #fef2d7;
  color: #d59202;
}

.lgw-label.green-light {
  background: #e3f2e3;
  color: #6aba69;
}

.lgw-label.icon-solo {
  align-items: center;
  height: 25px;
  display: inline-flex;
  padding: 0px;
  width: 25px;
  position: relative;
}

.lgw-label-preprod {
  color: white;
  background: #0e1425;
  height: 20px;
  line-height: 20px;
  font-size: 10px;
  font-weight: bold;
  padding: 0 5px;
  border-radius: 5px;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
}

/*************************************************/
/*                    TOOLTIP                    */
/*************************************************/

.lengow_tooltip {
  position: relative;
  color: #000;
  text-decoration: none;
}

.lengow_tooltip span {
  display: none
}

.lengow_tooltip:hover span {
  display: block;
  position: absolute;
  background-color: #000;
  color: #FFF;
  border-radius: 4px;
  padding: 3px 8px;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.42857143;
  max-width: 200px;
  opacity: .9;
  z-index: 1070;
}

a.lengow_tooltip.lgw-btn {
  white-space: normal;
}

span.lengow_order_action {
  white-space: normal;
  width: 500px;
}

span.lengow_order_types {
  bottom: -20px;
  left: -10px;
  white-space: nowrap;
}

span.lengow_order_country {
  bottom: -23px;
  left: -20px;
  white-space: nowrap;
}

span.lengow_order_amount {
  bottom: -23px;
  left: -20px;
  white-space: nowrap;
  max-width: 65px;
}

/*************************************************/
/*                     ICON                      */
/*************************************************/

.lgw-icon {
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  letter-spacing: 0;
  background-repeat: no-repeat;
  height: 18px;
  width: 25px;

}

.lgw-icon.mod-chrono {
  background-image: url(../img/clock.png);
  margin: 0 4px 2px 4px;
}

.lgw-icon.mod-chrono:after {
  font-size: 20px;
}

.lgw-icon.mod-delivery {
  background-image: url(../img/plane.png);
  margin: 1px 0 0 2px;
}

.lgw-icon.mod-delivery:after {
  font-size: 20px;
}

.lgw-icon.mod-pro {
  background-image: url(../img/bag.png);
  margin: -1px 0 0 3px;
}

.lgw-icon.mod-pro:after {
  font-size: 20px;
}

/*************************************************/
/*                    ACTION ORDER               */
/*************************************************/

.custom-grid-overflow, .custom-grid-overflow .x-grid-cell-inner {
  overflow: visible;
}

.lengow_action {
  cursor: pointer;
}

.lengow_action i {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 3px;
  vertical-align: middle;
}

.lengow_import_orders_style {
  padding: 5px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}

/*************************************************/
/*                    MODAL                      */
/*************************************************/

.lgw-modalbox {
  background-color: rgba(7, 18, 71, .3);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  opacity: 0;
  overflow: hidden;
  top: 0;
  transition: all 250ms ease;
  width: 100%;
  z-index: 1500;
}

.lgw-modalbox-content {
  background: white;
  box-shadow: 0 0px 20px 0 rgba(0,0,0,0.15);
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  transform: translate(0,calc(-45% + 0.5px));
  transition: all 250ms ease;
  width: 60%;
  top: 50%;
}

.lgw-modalbox-close {
  align-items: center;
  background: url(../img/modal-close.png) no-repeat white center;
  background-size: 40%;
  box-shadow: 0 0 2px rgba(0, 0, 0, .2);
  border-radius: 50%;
  display: flex;
  height: 33px;
  justify-content: center;
  position: absolute;
  right: 20px;
  top: 12px;
  transition: all 250ms ease;
  width: 33px;
  z-index: 10;
}

.lgw-modalbox-close:hover,
.lgw-modalbox-close:focus {
  box-shadow: 0 0 2px rgba(95, 0, 0, .2);
  cursor: pointer;
}

.lgw-modalbox-body {
  margin: 0 0;
  max-height: calc(100vh - 350px);
  overflow-y: auto;
  padding: 30px;
}

.lgw-modalbox.is-open .lgw-modalbox-content {
  transform: translate(0,calc(-50% + .5px));
}

.lgw-modalbox.mod-size-medium .lgw-modalbox-content {
  width: auto;
  max-width: 990px;
}

.lgw-modalbox.is-open {
  display: block;
  opacity: 1;
}