/*************************************************/
/*                      BOXES                    */
/*************************************************/

.lgw-box {
  background: white;
  display: block;
  border-radius: 3px;
  padding: 45px 60px 45px;
  box-shadow: 0 3px 0 0 rgba(0,0,0,.05);
  margin-bottom: 30px;
  margin-top: 30px;
  position: relative;
  top: 0;
}

.lgw-box-link .lgw-box {
  top: 0;
  color: #555;
  height: 300px;
  text-decoration: none;
  transition: top 100ms ease,
  box-shadow 100ms ease;
}

a.lgw-box-link:hover {
  text-decoration: none;
}

.lgw-box-link:hover .lgw-box {
  top: -6px;
  box-shadow: 0 10px 10px 0 rgba(0,0,0,.05);
}

.img-circle {
  border-radius: 50%;
}

.lgw-container .grey-frame {
  background: #f7f7f7;
  padding: 30px;
  border: 1px solid #d7d7d7;
  border-radius: 3px;
  margin-bottom: 15px;
}

.lgw-container .blue-frame {
  border-radius: 3px;
  margin-bottom: 15px;
  padding: 30px;
  background: #cdf1ff;
  border: 1px solid #00aeef;
  color: #2e6592;
}

.lgw-container .grey-frame input[type="text"] {
  background: white;
}

/*************************************************/
/*                    BUTTONS                    */
/*************************************************/

.lgw-container .lgw-btn {
  border-radius: 3px;
  padding: 10px 20px;
  margin: 15px 0;
  color: white;
  text-decoration: none !important;
  background: #00aeef;
  position: relative;
  transition: all 100ms ease;
  border: 0;
  display: inline-block;
  cursor: pointer;
  outline: none !important;
  white-space: nowrap;
}

.lgw-container .lgw-btn:hover,
.lgw-container .lgw-btn:active {
  background: #019ce2;
  color: white;
}

/*************************************************/
/*                    LABELS                     */
/*************************************************/

.lgw-label {
  font-size: 13px;
  background :#ebebeb;
  color: #828282;
  height: 23px;
  line-height: 23px;
  padding: 0 20px;
  border-radius: 12px;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
}

.lgw-label.red {
  color: white;
  background: #e55a4d;
}

.lgw-label-canceled {
  background: transparent;
  border: 1px solid #e6594d;
  color: #e6594d;
  line-height: 21px;
}

.lgw-label.orange {
  color: white;
  background: #fbb829;
}

.lgw-label.green,
.lgw-label-shipped,
.lgw-label-closed {
  color: white;
  background: #7bc27a;
}

.lgw-label.blue,
.lgw-label-accepted,
.lgw-label-waiting_shipment {
  color: white;
  background: #00b0f0;
}

.lgw-label.grey {
  border: 1px solid #7ac279;
  color: #7ac279;
  background: transparent;
  line-height: 21px;
}